<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Mi Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="perfil-content ion-padding">

  <ion-card class="perfil-card">

    <img
       src="assets/FOTO.jpeg">

    <ion-card-header>

      <ion-card-title>
        Odaliz Balseca
      </ion-card-title>

    </ion-card-header>

    <ion-card-content>

      <p>
        📚 Carrera: Desarrollo de Software
      </p>

      <p>
        🎓 Materia: Aplicaciones Móviles
      </p>

      <p>
        💻 Proyecto: Anime Explorer
      </p>

      <p>
        🚀 Ionic + Angular + Supabase
      </p>

      <ion-button
        expand="block"
        color="danger"
        (click)="logout()">

        Cerrar sesión

      </ion-button>

    </ion-card-content>

  </ion-card>

</ion-content>