.inicio-content {

  --background: linear-gradient(
    to bottom,
    #1f1c2c,
    #928dab
  );
}

.welcome-card {

  border-radius: 20px;
  overflow: hidden;

  ion-card-title {
    color: #7b2cbf;
    font-size: 24px;
    font-weight: bold;
  }

  ion-card-content {
    font-size: 16px;
  }
}